body {
  background-color: #040714;
  color: #f9f9f9;
  font-family: Avenir-Roman, sans-serif;
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
}
a {
  color: white;
  text-decoration: none;
}

@media (max-width: 479px) {
  body {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 15px;
  }
}

@media (min-width: 3000px) {
  body {
    font-size: 16px;
  }
}
